build/
install/
log/
*.log
*.gv
*.pdf
*.pyc
.vscode/
sim-setup/
src/urdf_sim_tutorial/
src/demo_pubsub/
src/communication_pkg/
src/perception_pkg/models/
src/ros2_control/
src/ros2_control_demos/
src/ros2_controllers/
*.onnx